
.navbar{
    display: flex;
    width: 100%;
    height: 75px;
    justify-content: flex-start;
    align-items: center;
    background-color: antiquewhite;
}
    
li a{
    display: flex;
    color: cornflowerblue;
    text-decoration: none;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 23px 20px;
}
    
ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}
    
a:hover{
    border-bottom: 1px solid cornflowerblue;
}

.intro {
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    color: cornflowerblue;
    text-align: center;
    margin-top: 20px;
}

.btn {
    background-color: antiquewhite;
    border: none;
    border-radius: 5px;
    height: 80px;
    width: 200px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: cornflowerblue;
}

.btn:hover{
    background-color: rgb(252, 218, 175);
    color: rgb(64, 109, 194)
}

.input-containers{
    display: none;
}

.addBtn{
    background-color: antiquewhite;
    border: none;
    border-radius: 5px;
    height: 80px;
    width: 200px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: cornflowerblue;
}

.new-inv{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 50px;
    padding-left: 266px;
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: 'Times New Roman', Times, serif;
}

.input:placeholder-shown{
    font-family: 'Times New Roman', Times, serif;
}

.input{
    font-family: 'Times New Roman', Times, serif;
}

.createdInv {
    display: flex;
    background-color: blue;
}